[submodule "nx-decomp-tools-binaries"]
	path = nx-decomp-tools-binaries
	url = https://github.com/open-ead/nx-decomp-tools-binaries
[submodule "asm-differ"]
	path = asm-differ
	url = https://github.com/simonlindholm/asm-differ
